export TESTDB_USER=postgres
export TESTDB_PASSWORD=admin
export TESTDB_HOST=localhost

export RUSTC_WRAPPER=sccache

# required for sqlx::test harnesses.
export DATABASE_URL=postgresql://${TESTDB_USER}:${TESTDB_PASSWORD}@${TESTDB_HOST}
export REPO_ROOT=$(git rev-parse --show-toplevel)

#create this file and put any local overrides you may need into it.
if [[ -f "./.local_envrc" ]]; then
    source ./.local_envrc
fi
